.Wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  margin: 0 29%;
}

.Title {
  background-image: linear-gradient(135deg, #3b41c5 0%, #a981bb 100%);
  align-items: center;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
  margin: 20px 0;
  box-shadow: 0 1px 10px #9d9d9d;
}

.Button {
  align-items: center;
  background: #fbfbfb;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  color: #808080;
  cursor: pointer;
  display: flex;
  fill: #9e9e9e;
  outline: none;
  font-size: 14px;
  justify-content: space-around;
}

.TitleButton {
  border-color: #4748c4;
  color: #4748c4;
  fill: #4748c4;
  height: 35px;
  text-transform: uppercase;
  width: 120px;
}

.TitleButton:active {
  border-width: 2px;
}

.CreateButton {
  border-color: #9e7bbc;
  color: #9e7bbc;
  fill: #9e7bbc;
  height: 35px;
  text-transform: uppercase;
  width: 120px;
}

.CreateButton:hover {
  border-color: #00a70b;
  color: #00a70b;
  fill: #00a70b;
}
.CreateButton:active {
  border-width: 2px;
}

.TableWrapper {
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 10px #9d9d9d;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.TableHeader {
  align-items: center;
  background-image: linear-gradient(135deg, #3b41c5 0%, #a981bb 100%);
  color: #fff;
  display: grid;
  flex-direction: column;
  font-size: 15px;
  grid-template-columns: 1fr repeat(4, 2fr);
  height: 50px;
  text-transform: uppercase;
  width: 100%;
}

.TableHeaderColumn {
  font-weight: normal;
}

.TableMain {
  background: #fbfbfb;
}

.TableMainRow {
  align-items: center;
  border-top: 1px solid #d7d7d7;
  color: #808080;
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr repeat(4, 2fr);
  height: 50px;
  justify-items: center;
}

.UpdateButton {
  height: 28px;
  width: 80px;
  box-shadow: none;
}

.UpdateButton:hover {
  border-color: #2246eb;
  color: #2246eb;
  fill: #2246eb;
}
.UpdateButton:active {
  border-width: 2px;
}

.DeleteButton {
  height: 28px;
  width: 80px;
}

.DeleteButton:hover {
  border-color: #d40000;
  color: #d40000;
  fill: #d40000;
}
.DeleteButton:active {
  border-width: 2px;
}
